<div class="floating-contact-widget">
  <a href="mailto:info@luminatewebsol.com" class="contact-item">
      <mat-icon class="floating-icon">mail</mat-icon>
      <span class="contact-text">infoluminatewebsol.com</span>
  </a>
  <a href="tel:+1234567890" class="contact-item">
      <mat-icon class="floating-icon">call</mat-icon>
      <span class="contact-text">+91 720-736-7455</span>
  </a>
  <a routerLink="/quote" class="contact-item">
      <mat-icon class="floating-icon">receipt</mat-icon>
      <span class="contact-text">Enquiry Form</span>
  </a>
</div>
